# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv/
venv/

# Jupyter notebook checkpoints (just in case)
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# IDE/editor files
.vscode/
.idea/

# Logs
*.log